@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.wrapper {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.titlepop {
    font-weight: 700;
    font-size: 35.39;
    text-align: center;
    margin: 40px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popular {
    max-width: 1101px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    color: white;
    margin-bottom: 80px;
}

.box {
    overflow: hidden;
    position: relative;
    padding: 0px 0px 62% 0px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box__text {
    font-weight: 500;
    font-size: 17.69px;
    padding: 21px 18px 0 21px;
    line-height: 130%;
    text-transform: uppercase;
}

.box__bottom {
    position: absolute;
    bottom: 0;
    font-size: 15.73px;
    font-weight: 700;
    padding: 25px 24px;
    line-height: 130%;
}

.box-big {
    grid-column: span 2;
    grid-row: span 2;
}

.box__text-big {
    font-size: 23.59px;
    padding: 22px 30px 0 30px;
}

.box__subtitle {
    font-size: 15.73px;
    font-weight: 400;
    padding: 18px 33px 0 33px;
    line-height: 130%;
}

.box__subtitle p {
    margin-bottom: 15px;
}

.box__subtitle p:last-child {
    margin-bottom: 0;
}
